include lib/mixin
doctype html

html(lang="zh-cmn-Hans")
    head
        mixin head()
        mixin css("/css/app")
        title 应用市场 | 爱康体
        style.
            .pre-tip {
                width: 100%;
                text-align: center;
                margin-top: 10%;
                font-size: 22px;
            }

    body
        #main
            .pre-tip 正在加载应用市场,请稍候...

        mixin foot()
        script(src="/js/app.js?t=_TIMESTAMP_")

