include lib/mixin
doctype html

html(lang="zh-cmn-Hans")
    head
        +pureHead()
        title 爱康体产品介绍
        style.
            body {
                font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
                font-weight: 300;
                font-size: 14px;
                background: #fff;
                color: #333
            }

            h1, h2 {
                text-align: center;
            }

            h1 {
                font-size: 24px;
                font-weight: 500;
            }

            ol {
                list-style-type: decimal;
                padding-left: 20px;
            }

            li {
                margin-bottom: 5px;
            }

            img {
                display: block;
                width: 80%;
                margin-left: 8%;
            }

            img.two-in-line {
                width: 40%;
                display: inline;
                margin: 0 5%
            }

            .tip {
                text-align: center;
                font-size: 0.9em
            }
    body
        h1 爱康体云健康管理系统介绍
        p
            | 爱康体云健康管理系统是浙江大学计算机科学与技术学院自主研发的一套基于目前最先进的生物电、超声波等技术实现人体体征快速检测、结合云计算及大数据分析，实现对个体健康进行科学评价及管理，通过微信公众服务号：
            strong  “爱康体”
            |  给各个微粉提供健康服务：如预约专家挂号，解读化验单，健康移动应用下载，健康咨询等专业的服务。
            img(src='/img/intro/image1.jpg' style="width:50%;margin:auto")
            div(style='text-align: center;font-weight: bold') 服务电话 4008393911

        h1 爱康体系统介绍
        p
            | 系统体征采集终端基本配置如下图。身高、体重、体脂、血压、血氧、生物电5种体质参数采集终端。采集终端设备长宽高1100x800x2300mm。
            p
                img.two-in-line(src='/img/intro/image2.jpg')
                img.two-in-line(src='/img/intro/image3.jpg')
            p.tip 包含主体机器以及臂带，装入4节5号电池后可使用。

        h1 基本功能
        ol
            li
                strong 四项体检
                p 使用血压仪测量血压及脉搏；使用血氧仪测量血氧饱和度；使用生物电设备扫描全身，给出脏腑、脊椎、消化、泌尿系统生物活性和功能状况评分；使用体重秤测量体重、身高设备量取身高、体脂仪测量体脂肪含量。

            li
                strong 广告播放
                p 在体检过程中可播放医疗健康相关视频广告，主界面中还有图片广告，所有广告内容可通过服务器进行统一管理，方便快捷。
            li
                strong 微信查看报告
                p 用户测量完成并上传成功后，可在微信公众号内查看自己的体检报告。报告中记录了所有体检记录及趋势图，也可以详细查看某一次的测量记录或查看某段时间的变化趋势。
            li
                strong 微信公众号服务功能
                p
                    ol(style="list-style-type:circle")
                        li 消息推送：微信公众号会对已关注用户进行针对性的消息推送（如每周一次），包括针对身体可能出现症状的保养知识或健康类应用等。
                        li 个人健康数据云存储及数据分析，对健康提出实时预测及保健建议。
                        li 寻医问诊：可以帮你预约挂号全国的部分的三甲医院名医名家，线上咨询。
                        li 对症下药：关于各种疾病及药物的百科知识。
                        li 移动药品商城：通过线上药品商城，及时购药。
                        li 移动健康应用商城：提供各种健康相关的移动终端应用，满足健康的各种应用需求。

            li
                strong 系统部分交互界面

        h2 扫码登录
        ol
            li
                p 登录界面如下图所示，用户可通过扫描右方的二维码进行登录。
                img(src='/img/intro/image4.jpg')
            li
                p 用户扫完二维码后进入个人信息修改及确认界面，第一次登录系统时需要用户填写年龄和性别信息，点击确认后进入测量主界面。
                img(src='/img/intro/image5.jpg')

        h2 主界面
        ol
            li
                | 主界面左侧显示测量项目，分别包括血压，血氧，生物电和身高体重体脂共4个模块，右侧是轮询的图片广告位。
            li
                | 用户可以点击某一块进行测量，测量退出后可以看见测量的简要信息（详细信息在微信端查看）。
            li
                | 右上角红色按钮，用户可以选择退出。
                img(src='/img/intro/image6.jpg')
            li
                | 每次测试完成后会有一个简要的结果显示在左侧，如下图所示，红色表示有一定问题，绿色表示良好。
                img(src='/img/intro/image7.jpg')

        h1 微信报告界面
        ol
            li 关注本产品爱康体的微信公众号后，可以通过点击“我的体检报告”按钮查看历史体检记录和分析报告。在主界面会显示历次体检记录。
            img(src='/img/intro/image8.png')
            li 在体检记录页面点击某一次体检记录，可以查看该次体检的详情和分析结果。每次体检报告包括身体、血压、血氧、生物电四个部分。
                p
                    img.two-in-line(src='/img/intro/image9.png')
                    img.two-in-line(src='/img/intro/image10.png')
                    img.two-in-line(src='/img/intro/image11.png')
                    img.two-in-line(src='/img/intro/image12.png')
            li 在体检记录页面点击变化趋势按钮，可以查看单项指标随时间的变化趋势。点击图表上部的图例可以切换是否显示某个指标，左右拖动图表可以调整显示的时间范围。
                img(src='/img/intro/image13.png')
