include lib/mixin
doctype html

html(lang="zh-cmn-Hans")
    head
        mixin pureHead()
        title 爱康体产品介绍
        style.
            body {
                font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
                font-weight: 300;
                font-size: 14px;
                background: #fff;
                color: #333
            }

            h1 {
                text-align: center;
                font-size: 24px;
                font-weight: 500;
            }

            ol {
                list-style-type: decimal;
                padding-left: 20px;
            }

            li {
                margin-bottom: 5px;
            }

            li > img {
                margin: 8px 0;
            }

            img {
                display: block;
                width: 95%;
            }

            .intro img {
                margin: auto;
                width: 70%;
            }
    body
        h1 注意事项
        p
            strong 感谢您购买本产品，本使用说明简扼介绍产品的各项功能，让您操作自如，充分体会本产品给您带来的超值感受，请您在使用前仔细阅读本使用说明。
        ol
            li 经常使用本产品及其附件时，请定期为本产品的设备进行充电或者更换电池。
            li 本产品及其附件属于高精密电子产品，请勿自行拆卸设备。
            li 避免强烈摔打、碰撞本产品。
            li 避免在下列环境中使用本产品：高温、低气压、低温、潮湿、多尘、磁场强大。本公司建议您在0℃至35℃，湿度为5%至95%的环境中使用本产品。
            li 可用拧干的湿棉布或者纸巾轻轻擦拭本产品及其附件的表面，严禁用其他化学溶液清洗。
            li 本产品及其附件不应遭受水滴和水溅，而且产品不应放置于注入水杯一类的载满液体的物品旁。
            li 请不要改动本产品及其附件的任何部分。
            li 请仅使用制造商允许的电池、充电器。使用任何其他类型的产品都将违反保修条例，并有可能发生危险。
            li 请按照当地相关的环保条例来处理废弃产品和附件。
            li 本产品在使用过程中有任何问题，请联系当地经销商或直接与本公司客户服务中心联系。
            li 产品如有任何变动，恕不另行通知，不便之处，敬请谅解。
        h1 温馨提示
        ol
            li 本产品测量的各项身体指标可能随时间和外界环境等因素的影响存在细微的差异。
            li 本产品每项检测开始时均配有系统的操作提示，请按其指引进行各项操作或参考本使用指南。
            li 本产品各体检设备通过WIFI和蓝牙进行数据传输，为了便于微信端查看报告，请保持网络可用。
            li 本产品体检设备使用比较频繁时请注意保持电量充足，如充电或更换电池。
            li 为确保检测准确性，使用本产品的生物电检测设备时建议间隔至少15天。

        h1 设备介绍
        ol.intro
            li
                strong 血压仪
                p 包含主体机器以及臂带，装入4节5号电池后可使用。
                img(src='/img/intro/image1.jpg')
            li
                strong 血氧仪
                p 指夹式的轻便血氧仪，需要2节7号电池，一键开关。
                img(src='/img/intro/image2.jpg')
            li
                strong 生物电设备
                p
                    | 基于生物电技术，通过智能电子感知设备，持续诱导人体手掌皮肤生物电刺激，在人体组织内转化为离子流，依据离子流在阴、阳极间的极化运动。测量人体组织的生物电能及细胞膜的动作电位，通过3-5分钟扫描，根据应激反应数据评估全身各大组织器官的生物活性和功能状况，预测潜在的亚健康趋势，对疾病风险做出早期预警。
                img(src='/img/intro/image3.jpg')
            li
                strong 体重秤
                p 测量人体的体重，单位千克，需要3节7号电池。
                img(src='/img/intro/image4.jpg')

            li
                strong 身高设备
                p 连接电源，通过声波探测测量身高。
                img(src='/img/intro/image5.jpg' style="width:40px")
            li
                strong 体脂仪
                p 需要3节5号电池，能够测量人体脂肪、骨骼、肌肉量、水分、内脏脂肪健康指数BMI、基础代谢。
                img(src='/img/intro/image6.jpg')
            li
                strong 安卓pad
                p 安卓系统的平板电脑，安装有爱康体应用，系统版本为Android4.0以上，支持蓝牙4.0功能。应用通过蓝牙连接其他测量设备，控制并传输数据。
                img(src='/img/intro/image7.jpg')


        h1 基本功能
        ol
            li
                strong 四项体检
                p 使用血压仪测量血压；使用血氧仪测量血氧饱和度；使用生物电设备扫描全身，给出中医报告和身体状况评分；使用体重秤测量体重、身高设备量取身高、体脂仪测量体脂肪含量。

            li
                strong 广告播放
                p 在体检过程中可播放医疗健康相关视频广告，主界面中还有图片广告，所有广告内容可通过服务器进行统一管理，方便快捷。
            li
                strong 微信查看报告
                p 用户测量完成并上传成功后，可在微信公众号内查看自己的体检报告。报告中记录了所有体检记录及趋势图，也可以详细查看某一次的测量记录或查看某段时间的变化趋势。
            li
                strong 微信消息推送
                p.
                    微信公众号会对已关注用户进行针对性的消息推送（如每周一次），包括针对身体可能出现症状的保养知识或健康类应用等。

        h1 扫码登录
        ol
            li
                p 登录界面如下图所示，用户可通过扫描右方的二维码进行登录。
                img(src='/img/intro/image8.jpg')
            li
                p 用户扫完二维码后进入个人信息修改及确认界面，第一次登录系统时需要用户填写年龄和性别信息，点击确认后进入测量主界面。
                img(src='/img/intro/image9.jpg')

        h1 主界面
        ol
            li
                | 主界面左侧显示测量项目，分别包括血压，血氧，生物电和身高体重体脂共4个模块，右侧是轮询的图片广告位。
            li
                | 用户可以点击某一块进行测量，测量退出后可以看见测量的简要信息（详细信息在微信端查看）。
            li
                | 右上角红色按钮，用户可以选择退出。
                img(src='/img/intro/image10.jpg')
            li
                | 每次测试完成后会有一个简要的结果显示在左侧，如下图所示，红色表示有一定问题，绿色表示良好。
                img(src='/img/intro/image11.jpg')

        h1 血压测量界面
        ol
            li
                p 在主界面通过点击进入血压测量界面后，会提示用户“按下血压计开关”，用户需要按照图示动画进行血压计的绑定，并按下血压计上面的开关，然后设备自动连接并开始测量。
            img(src='/img/intro/image12.jpg')
            li
                p 血压测量过程中，界面会显示血压和心率的实时数值及变化趋势。
            img(src='/img/intro/image13.jpg')
            li
                p 测量完毕后，系统会自动显示测量结果。
                img(src='/img/intro/image14.jpg')

        h1 血氧测量界面
        ol
            li 在主界面通过点击进入血氧测量界面后，会提示用户夹住指腹然后“点击指套按钮”。
                img(src='/img/intro/image15.jpg')
            li 点击指套按钮之后就进入测量血氧，用户需保持姿势，血氧计会读取数值。
                img(src='/img/intro/image16.jpg')
            li 测量完毕之后，会实时显示结果。
                img(src='/img/intro/image17.jpg')

        h1 生物电测量界面
        ol
            li 在主界面通过点击进入生物电测量界面后，会被提示用户把手放在掌托上，然后开始测量，若手没有放好，界面右方会提示用户按规则放置掌托。
                img(src='/img/intro/image18.jpg')
            li 生物电扫描完毕后，用户会得到一组分数，分别表示脏腑，脊椎，泌尿和消化系统的健康指数（详细情况可以在微信端查看）。
                img(src='/img/intro/image19.jpg')

        h1 身高体重和体脂测量界面
        ol
            li 在主界面通过点击进入身高体重和体脂的测量界面后，用户需按提示流程进行测量（分别是体重->身高->体脂）。首先会提示站上体重秤。
                img(src='/img/intro/image20.jpg')
            li 站上体重秤后会进行数据的读取，待体重数据显示完毕，听见“滴滴滴”的声音后进行身高测量，测量期间请继续站在秤上。
                img(src='/img/intro/image21.jpg')
            li 身高测量结束后，会提示用户是否要进行体脂测试，若用户选择不测量，则本项测量结束，返回主界面；若用户选择进行体脂测量，则开始测量。
                img(src='/img/intro/image22.jpg')
                img(src='/img/intro/image23.jpg')
            li 用户抓取体脂器开始测量，需握紧体脂器，测量完毕后，会显示用户的整个身体信息，包括身高，体重，体脂，BMI，骨密度等。
                img(src='/img/intro/image24.jpg')

        h1 视频广告更新
        ol
            li 广告提供商可以在管理后台进行丰富的广告管理，包括设置广告内容、对应的广告位、推送时间和接收推送的设备组等信息。
            li 广告会按照预先设置的策略进行自动更新，如每晚凌晨进行更新。 
            li 更新时，Pad后端会自动进行，对用户体检的体验不会产生影响。

        h1 微信报告界面
        ol
            li 关注本产品爱康体的微信公众号后，可以通过点击“我的体检报告”按钮查看历史体检记录和分析报告。在主界面会显示历次体检记录。
            img(src='/img/intro/image25.png')
            li 在体检记录页面点击某一次体检记录，可以查看该次体检的详情和分析结果。每次体检报告包括身体、血压、血氧、生物电四个部分。
                img(src='/img/intro/image26.png')
                img(src='/img/intro/image27.png')
                img(src='/img/intro/image28.png')
                img(src='/img/intro/image29.png')
            li 在体检记录页面点击变化趋势按钮，可以查看单项指标随时间的变化趋势。点击图表上部的图例可以切换是否显示某个指标，左右拖动图表可以调整显示的时间范围。
                img(src='/img/intro/image30.png')
                img(src='/img/intro/image31.png')
                img(src='/img/intro/image32.png')
                img(src='/img/intro/image33.png')

        h1 微信推送功能
        p 爱康体微信服务号会针对用户的检测结果，针对性地推送一些医药、健康相关的信息，帮助用户全面地了解其身体状况及注意事项。
        p 这些医药信息共分为10大类，约涵盖11万条医药信息数据，分类如下：
        ol
            li 健康一问。健康问答平台中收集的精华回答。
            li 健康图书。健康知识图书，提供好看的健康书籍推荐。
            li 检查项目。疾病检查、病种检查、检查介绍、检查正常值、检查异常结果等。
            li 药品直达。用于药品功能、价格、说明书、使用手册的简单介绍。
            li 疾病查找。主要介绍各种疾病的疾病预防、疾病保健、疾病治疗、疾病用药、疾病诊断等内容，包括肝病、心血管疾病、胃病、癌症、肾病、糖尿病、口腔疾病、眼病等疾病专题。
            li 食疗大全。收集关于食品的简介和功能疗效，让我们深入了解身边的每一样食物。
            li 健康知识。全方位的各种实用的健康小常识、生活小常识、健康保健知识、健康饮食、养生保健知识、居家常识。
            li 健康资讯。医疗卫生行业最新资讯，追踪健康焦点事件，报道最新医疗科研成果，解读健康热门话题，为广大民众提供最专业最权威的健康信息。
            li 手术项目。详尽的手术方法、手术资料、手术大全、手术详情、手术后注意事项、相关医院、相关医生。
            li 病状查找。主要介绍各种疾病的病状预防、病状保健、病状治疗、病状用药、病状等内容，包括肝病、心血管病状、胃病、癌症、肾病、糖尿病、口腔病状、眼病等疾病专题。
        p
            | 爱康体微信服务号对不同用户的身体情况，针对性地推送相关的医药信息。我们会根据用户的检测结果，判断出身体不良状况的具体位置，针对该位置可能引起的一些身体问题，推送与之相关的上述10类信息中的一类或者多类，让用户全面、深入了解自己的身体情况及注意事项。
