include ./mixin
doctype html

html(lang="zh-cmn-Hans")
    head
        mixin head()
        block title
        mixin css("/css/antd.min")
        mixin css("/css/admin")

    body
        #main
        script(src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
        script(src="http://cdn.bootcss.com/lodash.js/3.10.1/lodash.min.js")
        script(src="/js/lib/ReactRouter.min.js")
        mixin js("/js/lib/antd.min")
        block js
