include ./mixin
doctype html

html(lang="zh-cmn-Hans")
    head
        mixin head()
        block title
        style.
            .pre-tip {
                width: 100%;
                text-align: center;
                margin-top: 10%;
                font-size: 22px;
            }

    body
        #main
            .pre-tip 正在获取体检报告,请稍候...
        mixin css("/css/antd.min")
        mixin css("/css/main")
        script(src="http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js")
        script(src="http://cdn.bootcss.com/lodash.js/3.10.1/lodash.min.js")
        mixin js("/js/lib/antd.min")
        block js
        script(src="http://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js")
        script.
            FastClick.attach(document.body);
