include ./mixin
doctype html

html(lang="zh-cmn-Hans")
    head
        mixin head()
        block title
        mixin css("/css/antd.min")
        mixin css("/css/main")

    body
        #main
        script(src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js")
        script(src="http://cdn.bootcss.com/lodash.js/3.10.1/lodash.min.js")
        script(src="/js/lib/echarts.source.min.js")
        script(src="http://cdn.bootcss.com/react/0.13.3/react.js")
        script(src="http://cdn.bootcss.com/react-router/1.0.0-rc1/ReactRouter.min.js")
        mixin js("/js/lib/antd.min")
        block js
        script(src="http://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js")
        script.
            FastClick.attach(document.body);