@import "./mixin.styl"

.ant-steps .ant-steps-title, .ant-steps .ant-steps-head
    background-color inherit

.am-activity-indicator
    justify-content center
    padding 10px

.am-list-content, .am-navbar-title
    flex 3 !important

.flex-name
    display flex
    justify-content space-between

.navbar
    background-color $green !important

.edited
    input, div
        color $green_dark !important
.anticon-loading
    font-size 26px !important
    width 26px !important
    height 26px !important
