@import "nib/size"
@import "nib/positions"
@import "nib/text/ellipsis"

$green = #80cbc4
$green_dark = #2dacb9

middle(h) {
    height h
    line-height h
}

body
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    -webkit-appearance: none
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    background-color #f2f2f2

footer
    width 100%
    text-align center
    middle(40px)
    margin-top 20px

.ant-pagination
    display flex
    justify-content center
    margin 20px 0 0 -10px
    z-index 9999
    font-size 16px

.ant-pagination.mini .ant-pagination-item
    margin 0 4px

.ant-pagination-item-active
    border-color $green_dark
    background-color $green_dark
    &:hover, a:hover
        border-color $green_dark
        background-color $green_dark

$bannerHeight = 45px

.header
    display flex
    align-items center
    justify-content space-between
    padding 4px 10px
    background-color $green
    height $bannerHeight
    color #eee
    font-size 20px
    a
        color inherit
    h1, h2
        text-align center
        font-size inherit
        middle($bannerHeight)
        overflow hidden
    > .anticon, a
        width 50px
    .header-right
        width 50px
        display flex
        justify-content flex-end
        img
            size(35px)
            border-radius 50%
            margin-right 10px

.card
    margin 5px 0
    &.with-margin
        margin 10px
    &.fix
        margin-top -70px
    .ant-card-head
        h3
            font-size 16px
        padding 0 12px
    .ant-card-body
        padding 12px 14px
