$green = #80cbc4
$green_dark = #2dacb9

middle(h) {
    height h
    line-height h
}

body
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    background-color #f2f2f2

footer
    width 100%
    text-align center
    middle(40px)
    margin-top 20px


