@import "./mixin.styl"

$t_red = #ff5000
$grey_border = 1px solid #eee
$shallow_grey = #f5f5f5

#main
    padding-bottom 50px

.ant-tree
    padding 0
    li
        background-color white
        white-space normal
        &:last-child
            padding-bottom 0

    > li
        padding-top 7px !important
        > .ant-tree-node-content-wrapper
            font-size 1.2em

    .ant-tree-child-tree
        padding 0 !important
        margin-top 7px
        li
            background-color whitesmoke
    .ant-tree-switcher
        display none !important
    .ant-tree-node-content-wrapper
        padding 0 !important
        margin-left 10px !important
        &.ant-tree-node-selected
            background-color inherit !important
        &:hover
            background-color inherit !important
    .ant-tree-child-tree
        .ant-tree-node-content-wrapper
            width 100%
    .ant-tree-title
        height 20px
        line-height 20px

.ant-tree-checkbox-checked .ant-tree-checkbox-inner:after
    left 7px !important
    top 3px !important
    height 11px !important
    transition none !important

.ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner:after
    left 5px !important
    top 7px !important
    transition none !important

ul.ant-tree-child-tree
    li
        display flex
        align-items center
        border-bottom 1px solid white
    li:last-child
        border-bottom none

.ant-tree-checkbox-inner
    border-radius 50%
    height 20px
    width 20px
    margin-left 10px

.header a
    &.btn-history
        font-size 16px
        width auto
        color white

.btn-submit
    width 30%
    position absolute
    right 0
    bottom 0
    height 100%
    border-radius 0
    font-size 1.4em
    //background-color $t_red
    //border-color $t_red

.bottom-banner
    background-color white
    border-top 1px solid #ccc
    position fixed
    bottom 0
    width 100%
    height 50px
    .total-info
        display flex
        align-items center
        margin-left 10%
        height 100%
        font-size 1.1em
.value
    color $t_red

.order-info .item-block
    font-size 1.1em

.delivery-info-wrapper
    display flex
    align-items center
    justify-content space-between
    background-color white
    padding 10px 15px
    margin-bottom 15px
    font-size 1.2em

.delivery-info
    flex 1
    display flex
    flex-direction column
    .d-user-info
        display flex
        justify-content space-between
        margin-bottom 8px

.d-icon
    font-weight bold
    font-size 1.2em
    width 20px

.number-selector
    display flex
    align-items center
    justify-content space-around
    font-size 1.2em
    margin-right 10px
    border 1px solid #bbb5b5
    border-radius 2px
    width 23%
    height 25px
    &.large
        width 40%
        height 35px
        .num
            height 35px
            line-height 35px
    .num
        border-left 1px solid #bbb5b5
        border-right 1px solid #bbb5b5
        width 50%
        text-align center
        height 25px
        line-height 25px

@media (min-width: 350px)
    .number-selector
        width 28%
        height 30px
        .num
            height 30px
            line-height 30px

c-item-block()
    display flex
    align-items center
    justify-content space-between
    font-size 1.15em
    min-height 40px
    background-color white
    padding 10px 15px
    border-bottom $grey_border
    width 100%

.c-item-block
    c-item-block()

.item-block
    c-item-block()
    font-size 1em
    .item-info
        flex 1
        display flex
        flex-direction column
        margin-left 10px
    .item-name
        font-size 1.1em
    .item-intro
        color #969292
    .item-img
        width 70px
        height 70px
    .item-count
        font-size 1.1em
        margin-right 10px

.ant-tree-title
    .item-block
        background-color $shallow_grey
        padding-left 0
        padding-right 0
        border none

.history-item
    background-color #fff
    border-bottom $grey_border
    flex-direction column
    align-items flex-start
    padding-left 0
    padding-right 0
    margin-bottom 15px

    .h-item-title
        display flex
        align-items center
        justify-content space-between
        border-bottom $grey_border
        height 40px
        font-size 1.1em
        padding 0 15px

    .h-item-content
        width 100%
        .item-block
            background-color $shallow_grey
            border-color white

    .h-item-price
        display flex
        justify-content flex-end
        align-items center
        font-size 1.1em
        height 40px
        padding 0 15px

    .h-item-btns
        border-top $grey_border
        padding 5px 15px
        display flex
        align-content center
        justify-content flex-end
