@import "./mixin.styl"

$pad_both = 10px
$red = #DF5353

.user-info-prop
    right 4px
    left inherit !important
    font-size 15px

.user-info-prop .ant-popover-inner
    min-width 120px
    .ant-popover-title
        padding 0 10px
        text-align center
    .ant-popover-content
        padding 6px 10px
        position relative
    .user-info-edit
        font-size 20px
        color $green_dark
    .user-info-wrapper
        display flex
        align-items center
        justify-content space-around

// antd tab
.ant-tabs-mini, .ant-tabs-tab
    margin-right 0 !important

.ant-tabs-tab
    a
        padding-left 12px !important
        padding-right 12px !important
        text-align center
    flex 1

.ant-tabs-nav
    width 100%
    border-top 1px solid #ddd
    display flex !important
    flex-direction row

.ant-tabs-nav-scroll
    width 100% !important

.ant-tabs-ink-bar
    display none !important

.ant-tabs-content
    padding 0 $pad_both

//margin-bottom 20px

.loading
    display block
    text-align center
    margin-bottom 70px

.ant-tabs-nav-container
    height inherit

// 底部tab覆盖样式
.bottom-tab-wrapper > .ant-tabs > .ant-tabs-bar
    margin-bottom 0
    .ant-tabs-nav-container
        position fixed
        bottom 0
        z-index 9
        width 100%
    .ant-tabs-tab
        background-color #fff
        .tab-icon
            top 0
            margin auto !important
        .ant-tabs-tab-inner
            height 50px
            font-weight bold
            font-size 11px
            padding 0
            padding-top 5px
            &:hover
                color inherit
        p
            margin-top -3px
            margin-bottom 1px
            text-align center
    .ant-tabs-tab-active
        p
            color $green !important

// 顶部tab样式
.top-tab-wrapper
    .ant-tabs-nav
        border none
    .ant-tabs-nav-container
        border none
    .ant-tabs-nav-scroll
        padding 6px 10px
    .ant-tabs-tab
        font-weight bold
        font-size 15px
        border 1px solid $green
        border-right none
        &:nth-child(2)
            border-top-left-radius 4px
            border-bottom-left-radius 4px
        &:last-child
            border-right 1px solid $green
            border-top-right-radius 4px
            border-bottom-right-radius 4px
        .ant-tabs-tab-inner
            color $green !important
            padding 0
            text-align center
            middle(30px)
        &.ant-tabs-tab-active
            .ant-tabs-tab-inner
                color #fff !important
                background-color $green

    .ant-tabs-bar
        border-bottom none !important

#report-list
    #list-timeline
        padding-top 20px
        padding-left 5px
        margin-bottom 30px
        .timeline-wrapper
            padding-left 0
            list-style-type none
        .timeline-item
            display block
            position relative
            color #fff
            font-size 12px
            font-weight bold
            height 80px
            margin auto
            width 100%
            .timeline-item-middle
                absolute top 10px left 33%
                size 14px 100%
                .timeline-item-id
                    border-radius 50%
                    size 14px
                    line-height 14px
                    background-color $green_dark
                    text-align center
                    font-weight normal
                    font-size 10px
                .timeline-item-tail
                    absolute top 0 left 6px
                    height 100%
                    border-left: 2px solid #bebebe;
                    z-index -1
            .timeline-item-content
                absolute top 25px left 40%
                width 55%
                line-height 21px
                min-height 21px
                padding 0 0 0 10px
                border-radius 3px
                background-color $green_dark
                .arrow1
                    size 0
                    border-top 5px solid transparent
                    border-right 10px solid $green_dark
                    border-bottom 5px solid transparent
                    absolute top 7px left -9px
            .timestamp
                absolute top 0 right 70%
                border-radius 3px
                background-color $green_dark
                size 97px 32px
                text-align center
                padding 3px
                line-height 13px
                transform scale(0.9)
                color white
                .arrow2
                    size 0
                    border-top 5px solid transparent
                    border-left 10px solid $green_dark
                    border-bottom 5px solid transparent
                    absolute top 11px right -9px

    .item-num
        absolute top 10px right 0

.report-tip-block
    margin 0 20px
    &.fix
        margin-top -70px
    .tip-text
        font-size 1.1em
        margin-top 10px

#report
    .tab-icon
        top 2px
    .height-wrapper
        text-align center
        height 150px
        display flex
        justify-content flex-start
        align-items center
        margin-top 38px
        img
            height 100%
        .line
            size(10px, 100%)
            border 2px #80cbc4 solid
            border-left none
        .text
            padding-left 10px
            font-size 1.2em
            font-weight bold
    .kv-map-wrapper
        display flex
        flex 1
    .kv-map
        flex 1
        height 188px
        display flex
        flex-direction column
        justify-content center

        &.flex-1
            flex 1.5
        &.flex-2
            flex 2.5
    .key
        font-size 1.4em
        color: $green
        font-weight bold
    .value
        font-size 1.2em
        margin-bottom 8px
    .c-kv-map
        border 2px solid $green
        border-radius 5px
        background-color #f2f2f2
        margin-bottom 10px
        display flex
        flex-direction row
        .kv
            line-height 30px
            flex 1
            text-align center
        .value
            margin-left 5px
            font-size 1.6em
            font-weight bold
            color #C82121

    .chinese-report-block
        margin-bottom 15px
        color #a3a3a3
        .report-header
            background-color #fff
            color $green
            font-weight bold
            padding-bottom 5px
            .title
                background-color $green
                padding-left 10px
                width 100%
                middle(27px)
                color #fff
                font-size 16px
            .status
                middle(27px)
                margin 0 10px
                border-bottom $green solid 1px
            .stars
                display flex
                align-items center
                margin-top 4px
                .star
                    display inline-block
                    size: 20px
                    background-size 15px 15px
                    background-repeat no-repeat
                    padding-right 3px
                    background-position 2.5px 2.5px
                    &.on
                        background-image url("/img/star-on.png")
                    &.off
                        background-image url("/img/star-off.png")
            h4
                padding 0 10px
                middle(20px)
                display inline-block
        .report-body
            padding 0 5px
            .name
                color $green
                width 100%
                border-bottom 1px solid $green
                margin 5px 5px
                margin-top 10px
                font-size 16px
            .title
                font-weight bold
                margin-left -5px
                padding 8px 0 4px 0

.spo2h-report
    padding 0 10px
    color $green
    &.alert
        color $red
    .flex-box
        align-items center
        justify-content center
        margin 50px 0
    p
        flex 1
        color inherit
        font-weight bold
        font-size 28px
        text-align center
        .sub
            font-size 18px
            vertical-align sub
    img
        width 100%

.flex-box
    display flex

.echarts
    margin auto
    div
        margin auto

.blood-tab
    .flex-box
        justify-content center
    .echart-mini-wrapper
        flex 1
        height 120px
        overflow hidden
        .echarts
            transform scale(0.63)
            display block
            absolute top -60px left -50%

.bg-record
    background url("/img/record.png") no-repeat
    background-size 24px
    display block
    size(24px)
    margin auto
    margin-bottom 5px

.bg-trade
    @extends .bg-record
    background-image url("/img/trade.png")

.ant-tabs-tab-active
    .bg-record
        background-image url("/img/record-a.png")
    .bg-trade
        background-image url("/img/trade-a.png")

.ant-message-notice
    width 60%
    text-align center

.ant-confirm .ant-modal-body
    padding 15px

.ant-confirm .ant-confirm-body .ant-confirm-content
    margin 10px 0 0

.info-tag
    font-size 10px
    vertical-align super

.anticon-info-circle
    color $green !important

.ant-btn-primary
    background-color $green
    border-color $green

.ant-spin-dot
    background-color $green !important

.img-middle
    display block
    margin auto

.ant-alert-with-description .ant-alert-close-icon
    top 10px
    right 8px

.ad-region
    margin-top -18px
